.project-link {
    display: inline-block;
    margin: 8px;
    max-width: 320px;
    min-width: 240px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
  }
  
  .project-link * {
    box-sizing: border-box;
    transition: all 0.45s ease;
  }
  
  .project-link::before,
  .project-link::after {
    background-color: rgba(250, 250, 250, 0.5);
    border-top: 32px solid rgba(250, 250, 250, 0.5);
    border-bottom: 32px solid rgba(250, 250, 250, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    transition: all 0.3s ease;
    z-index: 1;
    opacity: 0;
    transform: scaleY(2);
  }
  
  .project-link img {
    vertical-align: top;
    max-width: 100%;
    backface-visibility: hidden;
  }
  
  .project-link .project-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.1em;
    opacity: 0;
    z-index: 2;
    transition-delay: 0.1s;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  .project-link:hover::before,
  .project-link:hover::after {
    transform: scale(1);
    opacity: 1;
  }
  
  .project-link:hover > img {
    opacity: 0.7;
  }
  
  .project-link:hover .project-content {
    opacity: 1;
  }